.title {
    color: white;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Geraldine';
}

.title-text {
    height: 80px;
    line-height: 89px;
    color: var(--green-900);
}

.upload-button {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.no-bottom-margin {
    margin-bottom: 0 !important;
}

app-wish-card {
    transition: all 0.35s;
}

#view-all-list {
    & > app-wish-card {
        &:nth-child(6n+1) {
            transform: scale(0.8, 0.8) rotate(5deg);
        }
        &:nth-child(6n+2) {
            transform: scale(0.8, 0.8) rotate(-4deg);
        }
        &:nth-child(6n+3) {
            transform: scale(0.8, 0.8) rotate(3deg);
        }
        &:nth-child(6n+4) {
            transform: scale(0.8, 0.8) rotate(-5deg);
        }
        &:nth-child(6n+5) {
            transform: scale(0.8, 0.8) rotate(4deg);
        }
        &:nth-child(6n+6) {
            transform: scale(0.8, 0.8) rotate(-3deg);
        }
    }
}
