.title {
    color: white;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Geraldine';
}

.title-text {
    height: 80px;
    line-height: 89px;
    color: var(--green-900);
}

.upload-button {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.no-bottom-margin {
    margin-bottom: 0 !important;
}