<div class="min-h-screen flex flex-column">
  <div class="title py-1 px-5 flex align-items-center justify-content-center relative lg:static" style="min-height: 80px">
    <span class="title-text">
          Isabella & Filip
    </span>

  </div>
  <div class="py-3 px-4 flex flex-column flex-auto">
    <div class="flex justify-content-evenly">    
      <button pButton label="Dodaj życzenia" class="p-button-secondary" 
      [ngClass]="{'p-button-raised' : (currentPage === 'Add' || currentPage === 'Preview')}" 
      [ngClass]="{'p-button-outlined' : (currentPage === 'ViewAll')}"
      (click)="goTo('Add')"
      [disabled]="currentPage === 'Add' || currentPage === 'Preview'"></button>
      <button pButton label="Przeglądaj życzenia" class="p-button-secondary" 
      [ngClass]="{'p-button-raised' : (currentPage === 'ViewAll')}" 
      [ngClass]="{'p-button-outlined' : (currentPage === 'Add' || currentPage === 'Preview')}"
      (click)="goTo('ViewAll')"
      [disabled]="currentPage === 'ViewAll'"></button>
    </div>
    <div class="pt-3 flex flex-auto justify-content-center">
      <div *ngIf="currentPage === 'Add'">
        <div class="grid p-fluid">
          <div class="field col-12 md:col-3">
              <label for="integeronly">Życzenia: (max. 250 znaków)</label>
              <textarea id="wishes" rows="5" cols="30" pInputTextarea [(ngModel)]="wishes"></textarea>
          </div>
        </div>

        
      </div>
      <div *ngIf="currentPage === 'Preview'">
        Preview
      </div>
      <div *ngIf="currentPage === 'ViewAll'">
        ViewAll
      </div>
    </div>

  </div>
</div>
